.idea
/tools/
core/core
crobot/crobot
mrobot/mrobot
mrobot/mrobot-linux
mrobot/bin/boot2docker.iso
/mrobot/drivers/virtualbox/vboxm/sshkey/
/core/drv.DriverPath/
/core/sshkey/
/core/package/
/core/filedb/
/core/chain_certs/
